body{
    font-family: 'Rubik Maze', cursive; 
    background:white;
}

.header_div{
    background:white ;
    color: red;
    font-size :40px !important; 
}

.header_div p{
    font-family: 'Rubik Maze', cursive;
    color: grey;
    letter-spacing:  2px;
    font-size: 20px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Rubik Maze', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position:fixed ;
    color: grey;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}
